.resume{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
    gap: 1rem;
    background-color: aliceblue;

}
a:link{
    color: black;
}
a:hover{
    color: blue;
}

.objective > h1,p{
    padding: 10px;
}
img{
    height: 200px;
    border-radius: 50%;

}
.projects{
    grid-row: span 2;   
}

@media (max-width: 575.98px) {
    .resume{
        display: block;
    }
   }